<article class="card text-center">
  <div class="card-header">{{ issue.id ? "Selected Issue" : "New Issue" }}</div>
  <form #issueForm="ngForm" class="card-body">
    <h2>{{ issue.name }}</h2>
    <a routerLink="/issue/{{ issue.id }}">Details</a>
    <p class="card-text">
      <input
        type="text"
        [ngModel]="issue.name"
        name="name"
        placeholder="Name"
      />
      <input
        type="text"
        [ngModel]="issue.description"
        name="description"
        placeholder="Description"
      />
    </p>
    <button
      *ngIf="issue.id"
      type="button"
      class="btn btn-secondary card-link"
      title="delete issue"
      (click)="onDelete()"
    >
      Delete
    </button>

    <ng-container *ngIf="issue.id; then saveButton; else addButton">
    </ng-container>
    <ng-template #saveButton>
      <button
        type="button"
        class="btn btn-primary card-link"
        title="save issue"
        (click)="onSave(issueForm)"
      >
        Save
      </button>
    </ng-template>
    <ng-template #addButton>
      <button
        type="button"
        class="btn btn-primary card-link"
        title="add issue"
        (click)="onAdd()"
      >
        Add
      </button>
    </ng-template>
  </form>
  {{ issueForm.value | json }}
  <button
    type="button"
    class="btn btn-primary card-link"
    title="add issue"
    (click)="setModelValue()"
  >
    Reset
  </button>
  <button
  type="button"
  class="btn btn-primary card-link"
  title="add issue"
  (click)="setFormControlValue()"
>
  Reset
</button>
  <button
    type="button"
    class="btn btn-primary card-link"
    title="add issue"
    (click)="logForm()"
  >
    Log
  </button>
  <div class="card-footer text-muted">Last Updated 2 days ago</div>
</article>
