<div>
  <!-- <zd-issue-search (searchEvent)="issues = $event"></zd-issue-search> -->
  <label for="issue-search">Search Issue:</label>
  <button
    type="button"
    class="btn btn-primary card-link"
    title="add issue"
    (click)="onNewIssueSelect()"
  >
    New Issue
  </button>
  <!-- <input
    id="issue-search"
    type="text"
    #issueSearch
    (change)="getIssuesByName(issueSearch.value)"
  />
  <label for="new-issue-name">New Issue Name:</label> -->

  <zd-issues-list
    [issues$]="issues$"
    [selectedIssueId]="selectedIssueId"
    (selectIssue)="onIssueSelect($event)"
  >
  </zd-issues-list>
  <div>Selected Id: {{selectedIssueId}}</div>
  <section *ngIf="issueForEdit$ | async as issueForEdit">
    <zd-issue-edit
      [issue]="issueForEdit"
      (saveIssue)="onIssueSave($event)"
      (deleteIssue)="onIssueDelete($event)"
      (addNewIssue)="onNewIssueSave($event)"
    ></zd-issue-edit>
  </section>
</div>
