<div>
  <!-- <zd-issue-search (searchEvent)="issues = $event"></zd-issue-search> -->
  <label for="issue-search">Search Issue:</label>
  <input
    id="issue-search"
    type="text"
    #issueSearch
    (change)="getIssuesByName(issueSearch.value)"
  />
  <label for="new-issue-name">New Issue Name:</label>
  <!-- <input id="new-issue-name" type="text" #newIssueName />
  <button type="button" (click)="addIssue(newIssueName.value)">Add</button> -->
  <menu aria-label="issues">
    <zd-issues-list-tile
      *ngFor="let issue of issues$ | async"
      [issue]="issue"
      [active]="selectedIssue?.id === issue.id"
      (select)="selectIssue(issue)"
    >
    </zd-issues-list-tile>
  </menu>
  <section *ngIf="selectedIssue">
    <zd-issue-edit [issue]="selectedIssue" (saveIssue)="saveSelectedIssue($event)" (deleteIssue)="deleteSelectedIssue($event)"></zd-issue-edit>
  </section>
</div>
